*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* 只在这里放变量 */
  --color-white: hsl(0, 0%, 100%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-900: hsl(218, 44%, 22%);
}

body {
  font-family: "Outfit";
  background-color: var(--color-slate-300);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
}

.container-card {
  background-color: var(--color-white);
  width: 300px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px var(--color-slate-500);
  text-align: center;
}

.qrcode {
  width: 100%;
  display: block;
  border-radius: 15px;
}

h2 {
  font-weight: 700;
  color: var(--color-slate-900);
  margin-top: 24px;
  margin-bottom: 10px;
}

p {
  font-weight: 300;
  font-size: 15px;
  padding: 0 10px; 
  padding-bottom: 24px;
}
