*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Figtree";
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf');
    font-weight: 100 900;
}

:root {
    /* 只在这里放变量 */
    --color-white: hsl(0, 0%, 100%);
    --color-yellow: hsl(47, 88%, 63%);

    --color-gray-500: hsl(0, 0%, 42%);
    --color-gray-950: hsl(0, 0%, 7%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-yellow);
    font-family: 'Figtree', sans-serif;
}

.card {
    display: block;
    background-color: var(--color-white);

    max-width: 24rem;
    width: 80%;

    padding: 1.5rem;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 10px 8px 0 0px black;
}

.cover {
    border-radius: 20px;
    width: 100%;
    margin-bottom: 15px;
}

.tag {
    display: inline-block;
    background-color: var(--color-yellow);
    border-radius: 5px;
    font-weight: 800;
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
    margin-bottom: 0.75rem;
}

.date {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.title {
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 0.75rem;
}

.title a {
    color: inherit;
    text-decoration: none;
}

.title a:hover {
    color: var(--color-yellow);
    cursor: pointer;
}


.desc {
    color: var(--color-gray-500);
    line-height: 1.5;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.portrait {
    display: flex;
    align-items: center;
    gap: 10px;
}

.portrait img {
    max-width: 3rem;
}

.attribution {
    position: absolute;
    bottom: 1rem;
}